{% extends 'base.html' %}

{% block list_form %}{{ block.super }}{% endblock %}

{% block header_text %}Your list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
<br>
		<table id="id_list_table" class="table table-striped">
			{% for item in list.item_set.all %}
			<tr>
				<td>
					{{ forloop.counter }}: {{ item.text }}{% if user == list.owner %}
				</td>
				<td align="right">
					<a href="{% url 'delete_item' item.id %}" class="btn btn-small btn-danger">X</a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
{% endblock %}
